.break{
	height: 50px;
}
#middle{
	line-height:30px;
	border-radius: 0px;	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.red{
	color:#FF4646;
}
.grey{
	color:#B2B2B2;
}
.modal-body {
    min-height: 480px;
    height: 450px;
}
